-- filename must NOT end with '.sql'/'.sh'/'.sql.gz' to prevent automatic execution
USE msgs;

CREATE USER IF NOT EXISTS 'backend'@'%' IDENTIFIED BY '${BACKEND_PASSWORD}';
GRANT SELECT, INSERT ON msgs.* TO 'backend'@'%';
